body
{
    background-color: rgba(118, 147, 163, 0.6);
}
#resize
{
    width: 10vw;
    height: 7vh;
    float: left;
    margin-left: 25vw;
}
table
{
    border: 1px solid green;
}
img
{
    max-width: 500;
    max-height: 500;
    border-radius: 20px;
    width: 25vw;
    height: auto;
}
tr
{
    max-height: 15px;
}
td
{
/*    min-width: 60px;*/
    width: 4vw;
    height: 0.5vh;
    max-width: 80px;
    max-height: 15px;
}
h1.letter
{
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
}
p.mass
{
    font-size: 0.7vw;
    font-family: "Arial";
    text-align: right;
}
p.number
{
    font-size: 0.7vw;
    font-family: "Arial";
    text-align: left;

}

div.nonmetall
{
    background-color: #a0ffa0;
}
div.alkali
{
    background-color: #FF6666;
}
div.alkaliearth
{
    background-color: #FFDEAD;
}
div.noblegas
{
    background-color: #c0ffff;
}
div.metalloid
{
    background-color: #cccc99;
}
div.post-metall
{
    background-color: #cccccc;
}
div.d-block
{
    background-color: #ffc0c0;
}
div.hallogen
{
    background-color: #ffff99;
}
div.lantanoid
{
    background-color: #FFBFFF;
}
div.actynoid
{
    background-color: #ef99cc;
}